.desktop {
position: relative;
width: 1440px;
height: 980px;
background: #0E1014;
}
.header {
position: absolute;
width: 1140px;
height: 73px;
left: 150px;
top: 46px;
}
.logo {
 background-color: #0E1014;   
}
.welb {
position: absolute;
left: 40px;
right: 0.99%;
top: 5px;
bottom: 5.74%;

/* light text */

color: #E4E5EA;
}
.vector {
    position: absolute;
width: 35px;
height: 24px;
left: 0px;
top: 0px;
}
.logoText {
    position: absolute;
width: 165px;
height: 24px;
left: 0px;
top: 40px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;

color: #E4E5EA;
}
.linksMain {
    position: absolute;
    width: 503px;
    height: 19px;
    left: 192px;
    top: 15px;
}
.links {
    list-style: none;
}
.servises{
    position: absolute;
    width: 54px;
    height: 19px;
    left: 0px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    /* light text */
    
    color: #E4E5EA;
}
.widgets{
    position: absolute;
width: 74px;
height: 19px;
left: 84px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* light text */

color: #E4E5EA;
}
.integration{
    position: absolute;
width: 95px;
height: 19px;
left: 188px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* light text */

color: #E4E5EA;
}
.cases {
    position: absolute;
width: 51px;
height: 19px;
left: 313px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* light text */

color: #E4E5EA;
}
.sertif {
    position: absolute;
width: 109px;
height: 19px;
left: 394px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E4E5EA;
}
.phone {
    position: absolute;
width: 143px;
height: 19px;
left: 832px;
top: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;
color: #E4E5EA;
}
.teleg {
    position: absolute;
width: 20px;
height: 20px;
left: 1022px;
top: 14px;
}
.viber {
    position: absolute;
width: 20px;
height: 19px;
left: 1072px;
top: 14px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.whatsapp {
    position: absolute;
width: 20px;
height: 20px;
left: 1122px;
top: 13px;
}
.purpleBall {
position: absolute;
width: 60px;
height: 60px;
left: 868px;
top: -2px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
filter: blur(5px);
backdrop-filter: blur(2px);
border-radius: 50%;
}
.redBall {
position: absolute;
width: 83px;
height: 83px;
left: 519px;
top: 83px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
backdrop-filter: blur(2px);
border-radius: 50%;
}
.smallBall {
position: absolute;
width: 28px;
height: 28px;
left: 851px;
top: 547px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
filter: blur(2.5px);
backdrop-filter: blur(2px);
border-radius: 50%;
}
.purpleLight {
position: absolute;
width: 259px;
height: 259px;
left: 602px;
top: -154px;
background: #833AB4;
opacity: 0.5;
filter: blur(196px);
}
.redLight {
    position: absolute;
width: 311px;
height: 311px;
left: -102px;
top: 251px;
background: #961A1A;
opacity: 0.5;
filter: blur(196px);
}
.leftText {
position: absolute;
width: 362px;
height: 116px;
left: 147px;
top: 209px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #E4E5EA;
}
.leftWelbex{
position: absolute;
width: 247px;
height: 58px;
left: 147px;
top: 325px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.leftBottom {
position: absolute;
width: 275px;
height: 44px;
left: 148px;
top: 413px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #E4E5EA;
}
.topText {
    /* position: absolute; */
width: 291px;
height: 44px;
left: 999px;
top: 224px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;
background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: #E4E5EA;
}
.topTextWhite {
position: absolute;
width: 291px;
height: 44px;
left: 999px;
top: 224px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #E4E5EA;
}